.input {
  background-color: #f1888129;
  border-radius: 10px;
  border: none;
  opacity: 1;
  width: 292px;
  height: 40px;
  padding: 5px;
  font: normal normal normal 25px/30px Roboto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.main-container {
  padding: 50px;
}

.form-element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 600px;
}

.title {
  font: normal normal bold 32px/38px Roboto;
  letter-spacing: 0px;
  color: #797979;
  opacity: 1;
}

.label {
  font: normal normal normal 25px/30px Roboto;
  letter-spacing: 0px;
  color: #797979;
  opacity: 1;
  width: 160px;
}

.btn-container {
  width: 450px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #f18881;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  width: 130px;
  height: 60px;
}
